body{
  background-color: rgb(34, 34, 34);
}

#root{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button.btn{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 13px;
  color: rgb(246, 246, 245);
  margin-top: 10px;
  padding: 10px 18px;
  background-color: rgb(39, 39, 39);
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  margin-bottom: 15px;
  
}

button.btn:hover{
  background-color: rgb(247, 247, 247);
  color: rgb(61, 61, 61);
  border-color: rgb(255, 255, 255);
}

h1{
  text-align: center;
  background-color: rgb(248, 248, 248);
  color: rgb(235, 104, 104);
}

.tarjetas{
  background-color: rgb(53, 53, 53);
  text-align: center;
  margin: 15px;
  width: 300px;
  border: 2px solid  rgb(222, 245, 123);
  border-radius: 15px;
  overflow: hidden;
}

.tarjetas:hover{
  background-color: rgba(206, 230, 143, 0.575);
  
  
}

img{
  width: 226px;
  height: 218px;
  
}


	        
.nombre{
  background-color: rgb(222, 245, 123);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: rgb(61, 61, 61);
}

.id{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.NavBar{
  width: 100%;
  text-align: center;
  height: 100px;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 70px;

  align-items: center;
  text-align: center;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(44, 44, 44);
}

div.titulo{
  
  width: 100%;
  text-align: center;
  
}

.subtitulo{
  margin-top: 10px;

  font-weight: bold;
  font-style: italic;

  text-align: center;
  background-color: rgb(222, 245, 123);
  color: black;
  font-size: 15px;
}

  
img.carrito{
  margin-right: 10%;
}

.carrito{
  height: 40px;
  width: 40px;
  margin-left: auto;
}


.abilities{
  background-color: rgb(44, 44, 44);
  color: rgb(222, 245, 123);
}


span{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin: 10px;
}

.tipo{
  color: rgb(255, 255, 255);
  font-weight: bold;
  background-color: rgb(77, 77, 77);
}

.precio {
  font-family: "Calibri";
  margin-top: 15px;
  color: #ffffff;
  font-weight: bold;
  background-color: #289b39;
  padding: 15px 20px;
  border-radius: 25px;
  border: 2px solid #ffffffec;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
  


.contenedorPrecio{
  display: flex;
  justify-content: center;
  border-color: rgb(222, 245, 123);
  border-width: 2px;
  

}

.agua{
  background-color: rgba(148, 247, 247, 0.555);
}
.planta{
  background-color: rgba(163, 245, 194, 0.589);
}
.bicho{
  background-color: rgba(114, 113, 113, 0.514);
  color: rgba(240, 248, 255, 0.849);
}

.fuego{
  background-color: rgba(245, 173, 173, 0.603);
}
.normal{
  background-color: rgba(196, 196, 196, 0.548);
}
.veneno{
  background-color: rgba(102, 77, 112, 0.486);
  color: aliceblue;
}
.electrico{
  background-color: rgba(210, 226, 119, 0.534);
}
.tierra{
  background-color: rgba(184, 125, 125, 0.541);
}
.hada{
  background-color: rgba(250, 181, 241, 0.521);
}


.tarjeta{
  background-color: rgb(53, 53, 53);
  text-align: center;
  margin-top: 15px;
  width: 300px;
  border: 2px solid  rgb(222, 245, 123);
  border-radius: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  color: rgb(255, 255, 255);
  flex-direction: column;
}

.datosTarjeta{
  margin-top: 10%;
  text-align: left;
  margin-left: 25%;
  margin-bottom: 10%;
}

.imagenTarjeta{
  margin-top: 10%;
}

.contenedorTarjetas{
  margin-top: 10px;
}

.botonMenu{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  padding-left: 20%;
  padding-right: 20%;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  background-color: rgb(11, 15, 0);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  margin-bottom: 15px;
  
}

.botonMenu:hover{
  background-color: rgb(238, 238, 238);
  border-color: rgb(61, 61, 61);
  color: rgb(61, 61, 61);
}

nav.NavBar{  
  width: 100%;
  text-align: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgb(44, 44, 44);
  margin-left: 30%;
  margin-right: 30%;
}


.tipoButton{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 15px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(11, 15, 0);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 0px;
  border-radius: 10px;
  margin-bottom: 15px;
  
}

.tipoButton:hover{
  background-color: rgb(221, 221, 221);
  border-color: rgb(61, 61, 61);
  color: rgb(59, 59, 59);
}

.water{
  background-color: rgb(73, 180, 230);
}
.normal{
  background-color: rgb(97, 97, 97);
}
.fighting{
  background-color: rgb(192, 154, 70);
}
.flying{
  background-color: rgb(172, 172, 172);
}
.poison{
  background-color: rgb(133, 73, 230);
}
.ground{
  background-color: rgb(144, 151, 82);
}
.rock{
  background-color: rgb(122, 88, 37);
}
.bug{
  background-color: rgb(24, 109, 73);
}
.ghost{
  background-color: rgb(34, 3, 70);
}
.steel{
  background-color: rgb(99, 98, 98);
}
.fire{
  background-color: rgb(230, 73, 73);
}
.grass{
  background-color: rgb(19, 145, 29);
}
.electric{
  background-color: rgb(150, 182, 7);
}
.psychic{
  background-color: rgb(60, 90, 4);
}
.ice{
  background-color: rgb(174, 221, 243);
}
.dragon{
  background-color: rgb(65, 66, 66);
}
.dark{
  background-color: rgb(0, 0, 0);
}
.fairy{
  background-color: rgb(235, 136, 235);
}
.unknown{
  background-color: rgb(199, 199, 199);
}
.shadow{
  background-color: rgb(43, 44, 44);
}


div.contendorTipos{
  width: 100%;
  text-align: center;
}